{% extends "base.html" %}

{% load static %}

{% block title %}Earth N’ Sky Architects & Engineers{% endblock  %}

{% block parallax %}https://images.pexels.com/photos/4352247/pexels-photo-4352247.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1{% endblock  %}

{% block heading %}PROJECTS{% endblock  %}

{% block body %}

<div class="contact-container">
  <div class="want">
    <span>Know more about us ?</span>
  </div>
  <a href="contact-us">
    <button class="reads">
      <span class="box">
          Contact Us
      </span>
    </button>
  </a>
</div>

<div class="parallax_container3">
    <div class="container pb-5">

      <div class="row projects">

        <div class="col-lg-4 col-md-6 col-sm-6 col-12 projects_img" data-aos="fade-right">
  <a href="project-details" class="project-card">
    <div class="projects_details">
      <img src="{% static 'media/1.jpg' %}" alt="Mr. SIDRA Residential Project">
      <div class="content">
        <h6>SIDRA</h6>
        <span class="project-type">[RESIDENTIAL]</span>
      </div>
      <div class="overlay"></div>
    </div>
  </a>
</div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-12 projects_img" data-aos="fade-right">
  <a href="project-details" class="project-card">
    <div class="projects_details">
      <img src="{% static 'media/2.jpg' %}" alt="Mr. SIDRA Residential Project">
      <div class="content">
        <h6>AGHADHAARA</h6>
        <span class="project-type">[RESIDENTIAL]</span>
      </div>
      <div class="overlay"></div>
    </div>
  </a>
</div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-12 projects_img" data-aos="fade-right">
  <a href="project-details" class="project-card">
    <div class="projects_details">
      <img src="{% static 'media/3.jpg' %}" alt="Mr. SIDRA Residential Project">
      <div class="content">
        <h6>ELORA</h6>
        <span class="project-type">[RESIDENTIAL]</span>
      </div>
      <div class="overlay"></div>
    </div>
  </a>
</div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-12 projects_img" data-aos="fade-right">
  <a href="project-details" class="project-card">
    <div class="projects_details">
      <img src="{% static 'media/4.jpg' %}" alt="Mr. SIDRA Residential Project">
      <div class="content">
        <h6> COGNITIVE CENTER</h6>
        <span class="project-type">[PUBLIC BUILDING]</span>
      </div>
      <div class="overlay"></div>
    </div>
  </a>
</div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-12 projects_img" data-aos="fade-right">
  <a href="project-details" class="project-card">
    <div class="projects_details">
      <img src="{% static 'media/6.jpg' %}" alt="Mr. SIDRA Residential Project">
      <div class="content">
        <h6>SANKETHAM</h6>
        <span class="project-type">[RESIDENTIAL]</span>
      </div>
      <div class="overlay"></div>
    </div>
  </a>
</div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-12 projects_img" data-aos="fade-right">
  <a href="project-details" class="project-card">
    <div class="projects_details">
      <img src="{% static 'media/1.1.jpg' %}" alt="Mr. SIDRA Residential Project">
      <div class="content">
        <h6>Mr. SIDRA</h6>
        <span class="project-type">[RESIDENTIAL]</span>
      </div>
      <div class="overlay"></div>
    </div>
  </a>
</div>

      </div>
    </div>
  </div>


{% endblock  %}