{% extends "base.html" %}

{% load static %}

{% block title %}Earth N’ Sky Architects & Engineers{% endblock  %}

{% block parallax %}https://images.pexels.com/photos/3183186/pexels-photo-3183186.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1{% endblock  %}

{% block heading %}PROJECTS DETAILS{% endblock  %}

{% block body %}

<div class="container">
    <div class="client_heading d-flex justify-content-center align-items-center mt-5 mb-5">
        <h1>{{details.name}}</h1>
    </div>

    <div class="client_details mb-5">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
                <div class="client">
                    <h2>PROJECTS DETAILS</h2>
                    <div class="d-flex gap-3">
                        <i class="ri-account-circle-line"></i>
                        <p>{{details.client_name}}</p>
                    </div>
                    <div class="d-flex gap-3">
                        <i class="ri-ruler-2-line"></i>
                        <p>{{details.area}} Sqm</p>
                    </div>
                    <div class="d-flex gap-3">
                        <i class="ri-map-pin-line"></i>
                        <p>{{details.location}}</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="client_img">
                    <img style="object-fit: cover;" src="{{details.image1.url}}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        {% if details.image2 %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-3">
        <div class="portfolio">
            <img src="{{ details.image2.url }}" alt="">
        </div>
    </div>
{% endif %}

{% if details.image3 %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-3">
        <div class="portfolio">
            <img src="{{ details.image3.url }}" alt="">
        </div>
    </div>
{% endif %}

{% if details.image4 %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-3">
        <div class="portfolio">
            <img src="{{ details.image4.url }}" alt="">
        </div>
    </div>
{% endif %}

{% if details.image5 %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-3">
        <div class="portfolio">
            <img src="{{ details.image5.url }}" alt="">
        </div>
    </div>
{% endif %}

{% if details.image6 %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-3">
        <div class="portfolio">
            <img src="{{ details.image6.url }}" alt="">
        </div>
    </div>
{% endif %}

{% if details.image7 %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-3">
        <div class="portfolio">
            <img src="{{ details.image7.url }}" alt="">
        </div>
    </div>
{% endif %}

        
    </div>
</div>

<div class="contact-container mb-3">
    <div class="want">
        <span>Want to join ?</span>
    </div>
        <a href="{% url 'contact-us' %}" class="con">
        <span>contact us</span>
    </a>
</div>


{% endblock %}